.outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.form-column {
    width: 30%;
    float: left;
}

.result-column {
    width: 20%;
    float: left;
}

.puzzle-select-label {
    width: 100%;
    font-size: x-large;
}

.puzzle-input-label {
    width: 100%;
    font-size: large;
}

.form-select {
    margin: 1px;
    width: 120px;
}