body {
    background-image: url('../img/christmas-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgreen;
    border: 0px;
}

input {
    margin: 2px;
}

textarea {
    height: 500px;
    width: 50%;
    resize: none;
}